<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="syncit" translate="label" sortOrder="5">
            <label>Syncit Group</label>
        </tab>
        <section id="form" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Custom Form</label>
            <tab>syncit</tab>
            <resource>Syncitgroup_Sgform::core_config</resource>
            <group id="form" translate="general" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Enable Form</label>
                <field id="form_enabled" translate="label" type="select" showInDefault="1" canRestore="1" sortOrder="100">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable the form on frontend]]></comment>
                </field>
                <field id="email_recipient" translate="label" type="text" showInDefault="1" canRestore="1" sortOrder="110">
                    <label>Email</label>
                    <depends>
                        <field id="form_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
