#search-container-base {
    background-color: #FF9500;
    margin-bottom: 20px;
    padding: 5px;
}

.search-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-content select {
    width: 200px;
    background-color: #EFD2A8;
}

#find {
    background-color: #29669F;
    color: #fff;
    font-weight: bold;
    width: 130px;
}